/*{{{3 @property */
@property --ts-hue {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0deg;
}
@property --ts-sat {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 50%;
}
@property --ts-lum {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 50%;
}

/* 'local' styling vars */
@property --width {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: auto;
}
@property --height {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: auto;
}
@property --bdw {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0;
}
@property --hue {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0;
}
@property --sat {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0;
}
@property --lum {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0;
}
@property --a {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 1;
}
/*}}}3*/

[data-name='ActionTreeRoot'] {
  --ts-base-hue: 80deg;
  --ts-base-sat: 40%;
  --ts-base-lum: 40%;
  --ts-inc-hue: 60deg;
  --ts-inc-sat: 2%;
  --ts-inc-lum: 2%;
  --ts-scope-bdw: 3px;
  --ts-scope-pad: 3px;

  /* --ts-spell-pad: calc(var(--spell-pad) + 4px); */

  --spell-size: 48px;
  --spell-pad: 3px;
  --spell-bdw: 3px;

  --spell-box-shadow-w: 3px;
  --spell-outline: 2px;
  --spell-margin: calc(var(--spell-box-shadow-w) + 2px);
  --row-height: calc(
    var(--spell-size) +
      ((var(--spell-margin) + var(--spell-pad) + var(--spell-bdw)) * 2)
  );

  --row-spacing: 24px;

  /* --radius-arrow: 0 0 0 20px/0 0 0 23px; */

  --col-spacing: 48px;

  --arrow-radius: 20px; /* For ⤵︎⤷ */
  --arrow-lead-w: 4px; /* Length of tail ‾͎⃖⤵︎ before radius curve begins */
  --arrow-trail-w: 4px; /* Length of arrow  ⤷  after radius curve ends */
  --arrowcol-left-w: calc(
    ͎ max(var(--arrow-lead-w), var(--arrow-radius)) + (var(--arrow-line-w) / 2)
  );
  --arrowcol-right-w: calc(
    max(var(--arrow-trail-w), var(--arrow-radius)) + (var(--arrow-line-w) / 2)
  );
  --arrowcol-width: calc(var(--arrowcol-left-w) + var(var(--arrowcol-right-w)));

  --base-radius: 12px;

  /* */
  --arrow-hue-draw: 184deg; /*    #40b7bf */
  --arrow-hue-perk: 145deg; /*    #40bf75 */
  --arrow-hue-action: 45deg; /*   #ffc744 */
  --arrow-hue-perm: 245deg; /*    #4a40bf */
  --arrow-hue-related: 300deg; /* #bf40bf */
  --arrow-hue-multiple: 10deg;
  --arrow-sat: 50%;
  --arrow-lum: 50%;
  --arrow-left: 4px;
  --arrow-right: 30px;
  --arrow-line-w: 3px;
  /* Normalises hue for source image so that using absolute hue
   * angles as offsets in hue-rotate() produces the right colours */
  --arrowhead-hue-norm-angle: -42deg;
  --arrowhead-h: 16px;
  --arrowhead-w: var(--arrowhead-h);

  --arrow-left-w: calc(
    max(var(--arrow-left), var(--arrow-radius)) + (var(--arrow-line-w) / 2)
  );
  --arrow-right-w: calc(
    max(var(--arrow-right), var(--arrow-radius)) + (var(--arrow-line-w) / 2)
  );
  --arrow-line-⤵: var(--arrow-line-w) var(--arrow-line-w) 0 0;
  --arrow-radius-⤵: 0 var(--arrow-radius) 0 0;
  --arrow-line-⤷: 0 0 var(--arrow-line-w) var(--arrow-line-w);
  --arrow-radius-⤷: 0 0 0 var(--arrow-radius);
  --arrow-line-ↆ: 0 var(--arrow-line-w) 0 0;
  --arrow-radius-ↆ: 0 0 0 0;
  --arrow-line-➜: var(--arrow-line-w) 0 0 0;
  --arrow-radius-➜: 0 0 0 0;

  /* TODO get from graph */
  --data-deepest-trigger: 9;
}

[data-name='AcTreeNode'] {
  --arrow-adjust-h: -18px;
  margin-top: 0;
}
[data-name='ActionSourceGroup'],
[data-name='AcTreeChildren'] {
  row-gap: var(--row-spacing);
}
[data-name='WandActionBorder'] {
  z-index: 2;
}
[data-name='ActionTreeRoot'] {
  row-gap: var(--row-spacing);
  flex-direction: column;
  padding: 2em 0;
}

:is([data-name='ActionTreeRoot']) :is([data-name='ArrowLine']) {
  display: none;
}

[data-name='ActionTreeRoot'] [data-name='WandActionBorder'] {
  --bdw: var(--spell-bdw, 3px);
  --padding: var(--spell-pad, 3px);
  border: 3px inset #444;
  background-image: linear-gradient(45deg, #000, #111, #000);
  box-shadow: 0 0 0 2px #000;
  padding: var(--padding);
  margin: 0;
}
[data-name='ActionTreeRoot']
  > div
  > [data-name='AcTreeNode']
  > :is([data-name='Arrows']::after, [data-name='Arrows']::before) {
  display: none;
}

[data-name='AcTreeCast'] {
  border: 3px solid #666;
  border-radius: var(--base-radius);
  padding: 1em 2em;
}

/*{{{1 Arrows */

/* Arrow Head */
:is([data-name='AcTreeNode'])
  > [data-name='WandActionBorder']
  > [data-name='ArrowHead'] {
  filter: hue-rotate(
      calc(
        var(--arrowhead-hue-norm-angle) -
          var(--hue, var(--arrowhead-hue-norm-angle))
      )
    )
    drop-shadow(0 0 0 #000);
}
[data-source='draw'] > :is([data-name='Arrows'], * > [data-name='ArrowHead']) {
  --hue: var(--arrow-hue-draw);
}
[data-source='perk'] > :is([data-name='Arrows'], * > [data-name='ArrowHead']) {
  --hue: var(--arrow-hue-perk);
}
[data-source='action']
  > :is([data-name='Arrows'], * > [data-name='ArrowHead']) {
  --hue: var(--arrow-hue-action);
}
[data-source='perm'] > :is([data-name='Arrows'], * > [data-name='ArrowHead']) {
  --hue: var(--arrow-hue-perm);
}
[data-source='related']
  > :is([data-name='Arrows'], * > [data-name='ArrowHead']) {
  --hue: var(--arrow-hue-related);
}
[data-source='multiple']
  > :is([data-name='Arrows'], * > [data-name='ArrowHead']) {
  --hue: var(--arrow-hue-multiple);
}

[data-trigger='true'] > [data-name='ArrowHead'] {
  left: calc((var(--arrowhead-w) + var(--spell-pad)) * -1);
}

[data-name='Arrows'] {
  --height: auto;
  --width: calc(var(--arrow-left-w) + var(--arrow-right-w));
  --sat: var(--arrow-sat);
  --lum: var(--arrow-lum);
  --arrow-color: hsl(var(--hue), var(--sat), var(--lum));
  height: var(--height);
  width: var(--width);
  position: relative;
  margin: 0;
  border: none;
  filter: drop-shadow(0 0 0 #000);
}
[data-name='ActionSourceGroup'][data-source='action']
  > [data-name='AcTreeNode'][data-childcount='0']
  > [data-name='Arrows'] {
  --width: 32px;
}
[data-name='AcTreeNode'][data-childcount='1'] > [data-name='Arrows'] {
  --width: 32px;
}
[data-childcount='1']
  > div
  > div
  > [data-childcount='1']
  > [data-name='Arrows'] {
  --width: 32px;
}

[data-name='Arrows']::before,
[data-name='Arrows']::after {
  content: none;
  display: none;
  /* content: ''; */
  /* height: var(--height); */
  /* width: var(--width); */
  /* display: flex; */
  /* position: absolute; */
  /* top: unset; */
  /* right: unset; */
  /* bottom: unset; */
  /* left: unset; */
  /* border-style: solid; */
  /* border-width: var(--arrow-line-w); */
  /* border-color: var(--arrow-color); */
  /* box-sizing: content-box; */
  /* filter: drop-shadow(-1px 2px 2px #000); */
  /* opacity: 0.4; */
}
/* [data-name='Arrows']::before /1* ⤵ ↆ *1/ { */
/*   width: calc(var(--arrow-left-w) - (var(--arrow-line-w) / 2)); */
/*   border-width: var(--arrow-line-⤵); */
/*   border-radius: var(--arrow-radius-⤵); */
/*   right: unset; */
/*   bottom: 0; */
/*   left: 0; */
/*   top: calc((var(--spell-size) / 2) + (var(--arrow-line-w) / 2) * -1); */
/* } */
[data-name='AcTreeNode']:nth-of-type(n + 2) > [data-name='Arrows']::before /* ↆ */ {
  /* border-width: var(--arrow-line-ↆ); */
  /* border-radius: var(--arrow-radius-ↆ); */
  /* top: calc(((var(--col-spacing) / 2) - var(--arrow-line-w)) * -1); */
  /* --height: calc((var(--col-spacing) / 2) + 100%); */
}
[data-name='AcTreeNode']:last-of-type > [data-name='Arrows']::before {
  /* border-radius: 0; */
  /* border-width: 0; */
}

[data-name='TreeArrow'][data-arrow='⤵︎'] {
  --height: 100%;
  height: 100%;
}
[data-name='AcTreeNode']:last-child
  > [data-name='Arrows']
  > [data-name='TreeArrow'][data-arrow='⤵︎'] {
  display: none;
}
[data-name='AcTreeNode']:first-child
  > [data-name='Arrows']
  > [data-name='TreeArrow'][data-arrow='⤷ '] {
  display: none;
}

[data-name='TreeArrow'][data-arrow='⤷ '] {
  --height: 100%;
  height: 100%;
}

[data-name='Arrows']::after /* → ⤷  */ {
  /* --height: calc( */
  /*   (var(--spell-size) / 2) + var(--row-spacing) - (var(--arrow-line-w) / 2) */
  /* ); */
  /* --width: calc(var(--arrow-right-w) - (var(--arrow-line-w) / 2)); */
  /* top: calc(((var(--spell-size) / 2) + (var(--arrow-line-w) / 2)) * -1); */
  /* right: unset; */
  /* bottom: unset; */
  /* left: calc(var(--arrow-left-w) - (var(--arrow-line-w) / 2)); */
  /* border-radius: var(--arrow-radius-⤷); */
  /* border-width: var(--arrow-line-⤷); */
}
[data-name='AcTreeNode']:first-of-type > [data-name='Arrows']::after /* ➜ */ {
  /* --width: calc(var(--arrow-right-w) + var(--arrow-left-w)); */
  /* top: calc((var(--spell-size) / 2) + (var(--arrow-line-w) / 2) * -1); */
  /* left: 0; */
  /* border-radius: var(--arrow-radius-➜); */
  /* border-width: var(--arrow-line-➜); */
}

[data-name='TreeArrow'][data-arrow='⤵︎'] {
  --height: 100%;
  height: 100%;
}

[data-name='TreeArrow'][data-arrow='⤷ '] {
  --height: 100%;
  left: calc(var(--arrow-left-w) - (var(--arrow-line-w) / 2));
  top: unset;
}

[data-childcount='0']
  > [data-name='Arrows']
  > [data-name='TreeArrow'][data-arrow='⤷ '] {
  outline: 1px solid red;
}

[data-name='ActionSourceGroup']
  > [data-name='AcTreeNode']
  > [data-name='Arrows']
  > [data-name='TreeArrow'][data-arrow='⭢ '],
[data-name='ActionSourceGroup']:nth-child(2)
  > [data-name='AcTreeNode']
  > [data-name='Arrows']
  > [data-name='TreeArrow'][data-arrow='⤷ '] {
  display: none;
}
[data-name='AcTreeNode']:first-child
  > [data-name='Arrows']
  > [data-name='TreeArrow'][data-arrow='⭢ '] {
  display: flex;
}

[data-name='TreeArrow'][data-arrow='⤷ '] {
  left: calc(var(--arrow-left-w) - (var(--arrow-line-w) / 2));
  top: calc((var(--row-height) * -0.5));
  height: calc(
    var(--row-height) - (var(--spell-size) * 0.5) + var(--arrow-line-w)
  );
}

[data-arrow='ↆ'] {
  height: 100%;
  content: '';
  border-right: 3px solid #fa807285;
  top: 0;
  right: var(--spell-size);
  padding-right: 128px;
}

[data-name='AcTreeNode'][data-leaf='false']:first-child
  > [data-name='Arrows']
  > [data-name='TreeArrow'][data-arrow='⤵︎'] {
  display: none;
}
[data-name='TreeArrow'][data-arrow='⤵︎'] {
  bottom: unset;
  --height: var(--row-height);
  height: calc(var(--height) * 0.5);
  margin-top: calc(var(--row-height) * 0.5);
  top: 0;
}

/*{{{3 Arrows Debug */
[data-arrow='⤵︎']
[data-arrow='⤵︎']
[data-arrow='ↆ']
[data-arrow='⤷ ']
[data-arrow='⭢ ']

.debug :is([data-name='Arrows'], ::after, ::before) /* → */ {
  outline: 1px dotted green;
  white-space: pre;
  font-size: 1em;
  font-family: monospace;
  filter: none;
}
.debug [data-name='Arrows']:hover,
.debug [data-name='Arrows']:hover::after,
.debug [data-name='Arrows']:hover::before {
  background-color: #000;
  outline-color: white;
}
.debug [data-name='Arrows']::before /*⤵ↆ */ {
  outline: 1px dotted yellowgreen;
}
.debug [data-name='Arrows']::after  /* ↆ⤷ */ {
  outline: 1px dotted darkgreen;
}
.debug [data-name='AcTreeNode']:last-of-type > [data-name='Arrows']::before {
  outline: 1px dotted orangered;
  content: 'b\0alst';
}
.debug [data-name='AcTreeNode']:nth-of-type(1) > [data-name='Arrows']::after {
  outline: 1px dotted orange;
  content: 'q\0an=1';
}
.debug [data-name='AcTreeNode']:last-of-type > [data-name='Arrows']::after {
  outline: 1px dotted red;
  content: 'a\0alst';
}
.debug [data-name='AcTreeNode']:nth-of-type(1) > [data-name='Arrows']::before {
  outline: 1px dotted yellow;
  content: 'b\0an=1';
}
.debug
  [data-name='AcTreeNode']:nth-of-type(n + 2)
  > [data-name='Arrows']::before {
  outline: 1px dotted blue;
  content: 'b\0an+2';
}
/*}}}3 /debug */
/*}}}1 /arrows */

/*{{{1 Collapsed groups */

[data-name='ActionSourceGroup'][data-source='draw']
  > div
  > div
  > [data-name='ActionSourceGroup'][data-source='action']
  > [data-name='AcTreeNode']:nth-of-type(n + 2) {
  visibility: collapse;
}

/* Divide By */
[data-name='ActionSourceGroup'].collapsed
  > [data-name='AcTreeNode'][data-leaf='true']:nth-of-type(
    n + 1
  ):nth-last-of-type(n + 2) {
  visibility: collapse;
}
[data-name='ActionSourceGroup'].collapsed
  > [data-name='AcTreeNode'][data-leaf='true']:last-of-type
  > [data-name='WandActionBorder'] {
  flex-direction: row-reverse;
  display: flex;
  column-gap: 4px;
}
[data-name='ActionSourceGroup'].collapsed
  > [data-name='AcTreeNode'][data-leaf='true']:last-of-type
  > [data-name='WandActionBorder']::after {
  content: 'x' counter(spells);
  position: static;
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444;
  color: #ffbf00dd;
  padding: 0.04em 0.2em 0 0.2em;
  border: 1.2px ridge #ada27f;
  border-radius: 7px;
  height: 90%;
  text-shadow: 0 1.5px 0 #000, 0 -1px 0 #000, 1.5px 0 0 #000, -1px 0 0 #000;
  box-shadow: 1px 1px 0 #000 inset, 1px 1px 0 #000;
  letter-spacing: 0.04em;
  line-height: 1;
  box-sizing: border-box;
}
:is([data-name='ActionSourceGroup'].collapsed)
  > [data-name='AcTreeNode'][data-leaf='true']:last-of-type
  > [data-name='WandActionBorder'] {
  border: 2px inset #444;
  outline: 2px dotted #656565;
  outline-offset: 2px;
  padding-left: 48px;
  padding: 4px 4px 4px 48px;
  margin-right: 4px;
}

:is([data-name='ActionSourceGroup'].collapsed)
  > [data-name='AcTreeNode'][data-leaf='true']:last-of-type
  > [data-name='WandActionBorder']
  > div:nth-of-type(1) {
  border-radius: 0;
  border-left-width: 0;
}
[data-name='ActionSourceGroup'].collapsed
  > [data-name='AcTreeNode'][data-leaf='true'] {
  counter-increment: spells;
}
[data-name='ActionSourceGroup'].collapsed {
  counter-set: spells 0;
}
[data-name='ActionSourceGroup'].collapsed
  > [data-name='AcTreeNode'][data-leaf='true']:last-of-type
  [data-name='DontDraw'] {
  display: none;
}
[data-name='ActionSourceGroup'].collapsed
  > [data-name='AcTreeNode'][data-leaf='true']:first-of-type
  [data-name='DontDraw'] {
}
/*}}}1*/

/*{{{1 Annotations */
[data-name='Iteration'] {
  padding: 2px;
  border-radius: 5px;
  border: 2px ridge #808;
  outline: 1px solid #666;
  text-shadow: 0 1.5px 1px #000, 0 -1px 1px #000, 1.5px 0 1px #000,
    -1px 0 1px #000, 0 1.5px 1px #000, 0 -1px 1px #000, 1.5px 0 1px #000,
    -1px 0 1px #000;
  box-shadow: -0.2px -0.2px 0.4px 0.1px #800 inset, 0 0 0 0.6px #000;
  background-image: linear-gradient(-45deg, #a0f4, #d0a, #f088);
  left: unset;
  top: unset;
  right: unset;
  bottom: -8px;
  left: -10px;
  color: #fff;
  font-size: 0.82em;
  align-items: flex-end;
}
[data-name='Recursion'] {
  padding: 2px;
  border-radius: 5px;
  border: 2px ridge #088;
  outline: 1px solid #666;
  text-shadow: 0 1.5px 1px #000, 0 -1px 1px #000, 1.5px 0 1px #000,
    -1px 0 1px #000, 0 1.5px 1px #000, 0 -1px 1px #000, 1.5px 0 1px #000,
    -1px 0 1px #000;
  box-shadow: -0.2px -0.2px 0.4px 0.1px #088 inset, 0 0 0 0.6px #000;
  background-image: linear-gradient(-45deg, #0af4, #0da, #0f88);
  left: unset;
  top: unset;
  right: unset;
  bottom: -8px;
  left: -10px;
  color: #fff;
  font-size: 0.82em;
  align-items: flex-end;
}
[data-name='ActionSource'],
[data-name='Discarded'],
[data-name='StoreAndResetAnnotation'] {
  pointer-events: none;
  position: absolute;
  width: calc(var(--bsize-spell) / 4);
  height: calc(var(--bsize-spell) / 4);
  top: 6px;
  right: unset;
  bottom: unset;
  left: -24px;
  padding: 3px;
  line-height: calc(var(--bsize-spell) / 3 - 2px);
  text-align: center;
  font-size: 13px;
  text-shadow: 0 1.5px 0 #000, 0 -1px 0 #000, 1.5px 0 0 #000, -1px 0 0 #000;
  outline: 1px solid #666;
  box-shadow: -0.2px -0.2px 0.4px 0.1px hsl(var(--hue) 100% 20%) inset,
    0 0 0 0.6px #000;
  border: 2px ridge hsl(var(--hue) 67% 40%);
  background-color: hsl(var(--hue) 67% 40% / 90%);
}
[data-name='ActionSource'] {
  border-radius: 50%;
  font-size: 13px;
  background-image: linear-gradient(
    -45deg,
    hsl(var(--hue) 54% 43% / 1),
    hsl(var(--hue) 54% 43% / 65%),
    hsl(var(--hue) 54% 43% / 50%)
  );
}
[data-name='ActionSource'][data-source='perk'] {
  --hue: 0deg;
}
[data-name='ActionSource'][data-source='action'] {
  --hue: 50deg;
}
[data-name='ActionSource'][data-source='draw'] {
  --hue: 240deg;
}
[data-name='ActionSource'][data-source='perm'] {
  --rgb: #6fa70b;
  --hue: 100deg;
}
[data-name='ActionSource'][data-source='related'] {
  --rgb: #ffc;
  --hue: 240deg;
}
[data-name='ActionSource'][data-source='multiple'] {
  --rgb: #747;
  --hue: 290deg;
}
[data-name='Discarded'],
[data-name='StoreAndResetAnnotation'] {
  top: 6px;
  right: unset;
  bottom: unset;
  left: -24px;
  background-image: var(--icon),
    linear-gradient(
      -45deg,
      hsl(var(--hue) 54% 43% / 1),
      hsl(var(--hue) 54% 43% / 65%),
      hsl(var(--hue) 54% 43% / 50%)
    );
  border-radius: 50%;
  font-size: 13px;
  width: 1em;
  height: 1em;
  image-rendering: pixelated;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}
[data-name='Discarded'][data-reason='mana'] {
  --icon: url('../data/wand/icon_mana_max.png');
  --hue: 206deg;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}
[data-name='Discarded'][data-reason='charges'] {
  --icon: url('../data/wand/icon_action_max_uses.png');
  --hue: 50deg;
}
[data-name='Discarded'][data-reason='action'] {
  --hue: 50deg;
}
[data-name='StoreAndResetAnnotation'][data-stat='reload_time'] {
  --icon: url('../data/wand/icon_gun_reload_time.png');
  --hue: 50deg;
}

[data-name='DeckIndex'] {
  display: flex;
  align-items: start;
  justify-content: center;
  border: 2px inset #333;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: #444;
  bottom: calc(var(--bdw) * -2);
  right: calc(var(--bdw) * -2);
  top: unset;
  left: unset;
  width: 1.6em;
  height: 1.6em;
  padding: 2px 1.5px 2px 2px;
  font-size: 0.8em;
  text-align: center;
  bottom: -8px;
  right: -6px;
}

[data-name='WandAction'] {
  --padding: var(--spell-pad, 3px);
  outline: none;
}

/* Draw Disabled annotation */

:root {
  --nodraw-arrow-w: 26px;
}

[data-name='DrawDisabled'] {
  right: -28px;
  --bdw: inherit;
  color: #0000;
  background-color: #0000;
  border: none;
  font-size: 2em;
  position: absolute;
  border-bottom: var(--bdw) dotted #eee;
  display: flex;
  background-image: url('data:image/svg+xml,%3Csvg style=%22fill: %23ff0000%22 xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 512 512%22%3E%3Cpath d=%22M367.2 412.5L99.5 144.8C77.1 176.1 64 214.5 64 256c0 106 86 192 192 192c41.5 0 79.9-13.1 111.2-35.5zm45.3-45.3C434.9 335.9 448 297.5 448 256c0-106-86-192-192-192c-41.5 0-79.9 13.1-111.2 35.5L412.5 367.2zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256z%22%3E%3C/path%3E%3C/svg%3E'),
    var(--icon-arrowhead-right), var(--data-inventory-icon-draw-plus);
  left: calc(-1 * var(--bsize-spell) / 4 + 6px);
  width: calc(var(--bsize-spell) / 5);
  height: calc(var(--bsize-spell) / 5);
  line-height: calc(var(--bsize-spell) / 5 - -2px);
}

[data-name='DrawDisabled']::after {
  /* filter: drop-shadow(0px 2px 0 #000) drop-shadow\(0px 2px 0 # !important; */
  top: -11px;
  image-rendering: pixelated;
}
/* end annotations */

/*{{{1 Trigger Scope borders */
[data-trigger='true'] > [data-name='AcTreeChildren'] {
  --bdw: var(--ts-scope-bdw, 3px);
  --rpad: 10px;
  --vpad: 22px;
  --lpad: 22px;
  outline: var(--bdw) dashed
    hsl(var(--ts-hue) var(--ts-sat) calc(var(--ts-lum) - 10%));
  outline-offset: calc(var(--bdw) * -1);
  border-radius: calc(
    var(--base-radius) + max(var(--vpad), var(--rpad)) + var(--bdw)
  );
  border: var(--bdw) solid #333;
  box-shadow: inset 0 0 4px 1px #000;
  background-image: repeating-linear-gradient(
    60deg,
    hsl(var(--ts-hue) var(--ts-sat) var(--ts-lum) / 2%),
    hsl(var(--ts-hue) var(--ts-sat) var(--ts-lum) / 8%),
    hsl(var(--ts-hue) var(--ts-sat) var(--ts-lum) / 2%) 40%
  );
  background-color: #111;
  margin: calc((var(--vpad) + var(--ts-scope-pad) + var(--bdw)) * -1)
    calc((var(--rpad) + var(--ts-scope-pad) + var(--bdw)) * -1)
    calc((var(--ts-scope-pad) + var(--bdw)) * -1)
    calc(var(--lpad) - var(--ts-scope-pad));
  padding: calc(var(--vpad) + var(--ts-scope-pad))
    calc(var(--rpad) + var(--ts-scope-pad))
    calc(var(--vpad) + var(--ts-scope-pad))
    calc(var(--vpad) + var(--ts-scope-pad));
  margin-left: calc((var(--lpad) - var(--ts-scope-pad)) * -1);
}
/* non-overlapping nested trigger ts boxes */
.tbox [data-trigger='true'] > [data-name='AcTreeChildren'] {
  margin: calc((var(--vpad)) * -1) calc((var(--rpad)) * -1)
    calc((var(--vpad) + var(--bdw)) * -1) var(--lpad);
  border-radius: calc(
    var(--base-radius) + max(var(--vpad), var(--rpad)) +
      calc(
        var(--bdw) * (var(--data-deepest-trigger) - var(--data-triggerlevel))
      )
  );
}

[data-trigger='true'] > [data-name='AcTreeChildren']::before {
  content: 'Trigger Scope: 1';
  font-size: 0.8em;
  letter-spacing: 0.02em;
  position: absolute;
  background-color: #000;
  border: var(--bdw) dashed
    hsl(var(--ts-hue) var(--ts-sat) calc(var(--ts-lum) - 10%));
  top: 0;
  display: block;
  --bdw: inherit;
  border-width: 0 var(--bdw) 0 var(--bdw);
  padding: 3px 4px 1px 4px;
  border-radius: 0 10px;
  top: -8px;
  left: 130px;
  right: unset;
}
[data-name='AcTreeNode'][data-trigger='true'] {
  --bdw: var(--spell-bdw);
  --ts-hue: calc(
    var(--ts-base-hue) + (var(--ts-inc-hue) * var(--data-triggerlevel))
  );
  --ts-sat: calc(
    var(--ts-base-sat) + (var(--ts-inc-sat) * var(--data-triggerlevel))
  );
  --ts-lum: calc(
    var(--ts-base-lum) + (var(--ts-inc-lum) * var(--data-triggerlevel))
  );
}

[data-trigger='true'] > [data-name='WandActionBorder'] {
  --bdw: var(--spell-bdw);
  --padding: var(--spell-pad);
  outline: var(--bdw) dashed hsl(var(--ts-hue) var(--ts-sat) var(--ts-lum));
  outline-offset: calc(var(--bdw) * -1);
}

[data-name='AcTreeNode'][data-trigger='true']
  > [data-name='AcTreeChildren']
  > [data-name='AcTreeNode'][data-trigger='false']:first-of-type {
  margin-top: var(--bdw);
}
[data-name='AcTreeNode'][data-childcount='0']::after {
  /* content: ''; */
  width: var(--spell-size);
  height: 100%;
  outline: 1px solid darkblue;
  visibility: hidden;
}
[data-name='AcTreeNode'][data-trigger='true'] > [data-name='Arrows'] {
  --width: 50px;
}

/*{{{1 Add Trigger targeting */
:is(
    [data-spell='ADD_TRIGGER'],
    [data-spell='ADD_TIMER'],
    [data-spell='ADD_DEATH_TRIGGER']
  )
  > [data-name='AcTreeChildren']
  > [data-name='ActionSourceGroup'][data-source='action'] {
  flex-direction: row;
}

/* [data-name='AcTreeNode'][data-iteration='3'] > [data-name='WandActionBorder'], [data-name='AcTreeNode'][data-iteration='4'] > [data-name='WandActionBorder'], [data-name='AcTreeNode'][data-spell^='DIVIDE_'] { */
/* box-shadow: 0 0 2px pink; */
/* outline: 2px dotted #d300a2; */
/* outline-offset: 0; */
/* } */

/* Row of spells copied by add trigger */

/* Arrows */
[data-spell='ADD_TRIGGER']
  > [data-name='AcTreeChildren']
  > [data-name='ActionSourceGroup'][data-source='action']
  > div
  > [data-name='Arrows'] {
  /*   outline: 2px solid orange; */
}
/* after */
[data-spell='ADD_TRIGGER']
  > [data-name='AcTreeChildren']
  > [data-name='ActionSourceGroup'][data-source='action']
  > div
  > [data-name='Arrows']::after {
  --width: calc(var(--arrow-right-w) + var(--arrow-left-w));
  top: calc((var(--spell-size) / 2) + (var(--arrow-line-w) / 2) * -1);
  left: 0;
  border-radius: var(--arrow-radius-➜);
  border-width: var(--arrow-line-➜);
}
/* before */
[data-spell='ADD_TRIGGER']
  > [data-name='AcTreeChildren']
  > [data-name='ActionSourceGroup'][data-source='action']
  > div
  > [data-name='Arrows']::before {
  content: none;
}
[data-name='AcTreeNode']:first-of-type > [data-name='Arrows']::after {
}

/* Divide By targeting */

[data-spell^='DIVIDE_']
  > [data-name='AcTreeChildren']
  > [data-name='ActionSourceGroup'][data-source='action'] {
  flex-direction: column;
}
/* Above limit */
:is([data-spell^='DIVIDE_']):is([data-iteration])
  > :is([data-name='WandActionBorder']) {
  outline: 2px solid red;
}
/* At limit */
:is(
    :is([data-spell='DIVIDE_10']):is([data-iteration='3']),
    :is([data-spell='DIVIDE_4'], [data-spell='DIVIDE_3']):is(
        [data-iteration='4']
      ),
    :is([data-spell='DIVIDE_2']):is([data-iteration='5']),

  )
  > [data-name='WandActionBorder'] {
  outline: 2px solid blue;
}
/* Below limit */
:is(
    :is([data-spell='DIVIDE_10']):is(
        [data-iteration='1'],
        [data-iteration='2']
      ),
    :is([data-spell='DIVIDE_4'], [data-spell='DIVIDE_3']):is(
        [data-iteration='1'],
        [data-iteration='2'],
        [data-iteration='3']
      ),
    :is([data-spell='DIVIDE_2']):is(
        [data-iteration='1'],
        [data-iteration='2'],
        [data-iteration='3'],
        [data-iteration='4']
      )
  )
  > [data-name='WandActionBorder'] {
  outline: none;
}

/*{{{1 Greek Spell Targeting - Mu & Omega */
:is(
    [data-name='AcTreeNode'][data-spell='MU'],
    [data-name='AcTreeNode'][data-spell='OMEGA'],

  )
  > div
  > [data-name='ActionSourceGroup'][data-source='action'] {
  --pad: 10px;
  padding: var(--pad) var(--pad) var(--pad) calc(var(--bsize-spell) * 2);
  margin-top: calc(var(--pad) * -1);
  margin-left: calc(var(--bsize-spell) * -1.5);
  border: 2px dotted #f9d470;
  border-radius: 1em;
}

[data-name='AcTreeNode']:is(
    [data-spell='ADD_TRIGGER'] [data-spell='ADD_TIMER'],
    [data-spell='ADD_DEATH_TRIGGER'] [data-spell='MU'],
    [data-spell='OMEGA'],

  )
  > div
  > [data-name='ActionSourceGroup'][data-source='action']
  > [data-name='AcTreeNode']
  > [data-name='Arrows']::before {
  border: none;
}
:is(
    [data-name='AcTreeNode'][data-spell='MU'],
    [data-name='AcTreeNode'][data-spell='OMEGA'],

  )
  > div
  > [data-name='ActionSourceGroup'][data-source='action']
  > [data-name='AcTreeNode']:first-of-type
  > [data-name='Arrows']::before {
  border-color: red;
}
:is(
    [data-name='AcTreeNode'][data-spell='MU'],
    [data-name='AcTreeNode'][data-spell='OMEGA'],

  )
  > div
  > [data-name='ActionSourceGroup'][data-source='action']
  > [data-name='AcTreeNode']
  > [data-name='Arrows']::after {
  border-left-width: 0;
  border-radius: 0;
}

/*{{{1 Greek spell targeting - TAU */
li:has([data-tooltip-content='TAU']):hover {
  position: relative;
  box-shadow: -2px 0 0 #ff0, 0 2px 0 #ff0, 0 -2px 0 #ff0;
}

li:has([data-tooltip-content='TAU']):hover + li,
li:has([data-tooltip-content='TAU']):hover + li + li {
  position: relative;
  box-shadow: 0 2px 0 #ff0, 0 -2px 0 #ff0;
  border-radius: 8px;
}
li:has([data-tooltip-content='TAU']):hover + li::after,
li:has([data-tooltip-content='TAU']):hover + li + li::after {
  content: '1st';
  position: absolute;
  top: -8px;
  display: block;
  left: 50%;
  text-align: center;
  font-size: 0.7em;
  transform: translateX(-50%);
  background-color: #000;
  border: 1px solid #ff0;
  border-width: 1px 2px;
  padding: 1px 4px 0 4px;
  border-radius: 6px;
}
li:has([data-tooltip-content='TAU']):hover + li + li::after {
  content: '2nd';
}

/* TODO */
/*{{{1 Alpha & Gamma */
/*{{{1 Phi & Sigma */
/*{{{1 Zeta */

/*{{{1 Wand Builder Hints - Divide By */
li:not(:has([data-tooltip-content^='DIVIDE_']))
  + li:has([data-tooltip-content^='DIVIDE_']):hover,
li:first-of-type:has([data-tooltip-content^='DIVIDE_']):hover,
li:has([data-tooltip-content^='DIVIDE_']):has(+ li:hover) {
  box-shadow: inset 1px 0 0 #fff9, inset 0 -1px 0 #fff9, inset 0 1px 0 #fff9,
    -2px 0 0 #fff9, 0 -2px 0 #fff9, 0 2px 0 #fff9;
  border-radius: 8px 0 0 8px;
}
li:has([data-tooltip-content^='DIVIDE_']):hover,
li:has([data-tooltip-content^='DIVIDE_']):hover
  + li:has([data-tooltip-content^='DIVIDE_']),
li:has([data-tooltip-content^='DIVIDE_']):has(
    + li:hover [data-tooltip-content^='DIVIDE_']
  ) {
  box-shadow: inset 0 1px 0 #fff9, inset 0 -1px 0 #fff9, 0 2px 0 #fff9,
    0 -2px 0 #fff9, -2px 0 1px #fff9, inset 2px 0 1px #fff9;
  border-radius: 8px 0 0 8px;
}
li:has([data-tooltip-content^='DIVIDE_']):hover
  + li:has([data-tooltip-content^='DIVIDE_'])
  + li:not(:has([data-tooltip-content^='DIVIDE_'])),
li:has([data-tooltip-content^='DIVIDE_'])
  + li:has([data-tooltip-content^='DIVIDE_']):hover
  + li:not(:has([data-tooltip-content^='DIVIDE_'])) {
  box-shadow: -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff,
    inset -1px 0 0 #fff, inset 0 1px 0 #fff, inset 0 -1px 0 #fff,
    inset 1px 0 0 #fff;
  border-radius: 8px;
}
/* li:has([data-tooltip-content^='DIVIDE_']) + li:has([data-tooltip-content='TAU']):not(#not) {
  box-shadow: -1px 0 0 #ff0, 0 1px 0 #ff0, 0 -1px 0 #ff0, 1px 0 0 #ff0,
              inset -1px 0 0 #fff, inset 0 1px 0 #fff, inset 0 -1px 0 #fff, inset 1px 0 0 #fff;
  border-radius: 8px;
} */

/* vim: set fdl=3 fdm=marker: */
