@font-face {
  font-family: 'noita';
  src: url('fonts/NoitaPixel.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'glyphs';
  src: url('fonts/NoitaGlyphScaled.ttf') format('truetype');
  font-display: swap;
}

/* see also app/RootCSSVars.tsx */
:root {
  --𝚽: 1.618; /* var(--𝚽) */

  --input-border: 2px solid #555555;
  --input-border-radius: 0 2px 0 2px;

  --config-topleft-border: #323232;
  --config-bottomright-border: #616060;

  --color-base: #eeeeee;
  --color-base-background: #0c0c0c;

  --color-subdued: #aaaaaa;
  --color-emphasis: #ffffff;

  --color-tab-active: #eeeeee;
  --color-tab-inactive: #918f96;
  --color-tab-inactive-hover: #c7c7c7;
  --color-tab-border-active: #918167;
  --color-tab-border-inactive: #686358;
  --color-tab-border-inactive-hover: #c7c7c7;
  --bg-color-tab: #100e0e;

  --color-button: #c7c7c7;
  --color-button-hover: #c7c7c7;
  --color-button-active: #eeeeee;
  --color-button-disabled: #5b5b66;
  --color-button-border: #333333;
  --color-button-border-hover: #aaaaaa;
  --color-button-background: #000000;

  /* --color-toggle-label: var(--color-subdued); */
  --color-toggle-label: rgb(110, 110, 110);
  /* --color-toggle-chosen: var(--color-emphasis); */
  --color-toggle-chosen: rgb(207, 207, 206);
  --color-toggle-alternatives: var(--color-base);
  --color-toggle-hover: #ffe4a4;

  --color-numeric-hover: rgb(200 200 178 / 0.3);
  --color-numeric-focus: rgb(200 200 178 / 0.8);

  --color-vis-cs-inborder: #3a3a3a;
  --color-vis-cs-inborder-dark: #222222;
  --color-value-ignored: #5b5b66;

  --color-note-recursion: #000000;
  --color-note-recursion-bg: #33bbbb;

  --color-scrollbar: #3b362d #bada55;

  --size-arrow-w: 3px;
  --radius-arrow: 0 0 0 20px/0 0 0 23px;
  --bd-radius-arrow: 0 0 0 20px/0 0 0 23px;
  --color-arrow-action: #ffbf00;
  --color-arrow-action-text: #dddddd;
  --color-arrow-action-highlight: #c28900;

  --color-arrow-copy-nodraw: #ffbf00;
  --color-arrow-copy: #ffbf00;
  --color-arrow-draw: #ffeeff;
  --hue-arrow-draw: 240deg;
  --hue-arrow-action: 50deg;
  --hue-arrow-perk: 0deg;
  --hue-arrow-perm: 160deg;
  --hue-arrow-related: 240deg;
  --hue-arrow-multiple: 290deg;

  --arrow-action-bdcolor: #ffbf00;

  --color-wand-editor-bg: #000000;
  --color-wand-edit-cursor: #ffff66;
  --color-wand-edit-cursor-active: #ffff66;

  --color-modal-fullscreen-overlay: rgba(0, 0, 0, 0.5);
  --color-modal-bg: #100e0e;
  --color-modal-fg: #eeeeee;
  --color-modal-header-bg: #100e0e;
  --color-modal-header-fg: #eeeeee;

  --color-keyhint-shadow: rgba(0, 0, 0, 0.66);
  --color-keyhint-border: #ffbf00;

  --filter-floating-shadow: drop-shadow(-4px 4px 4px var(--shadow, #000000dd))
    drop-shadow(2px -6px 4px var(--shadow, #000000dd));
  --filter-tooltip-shadow: drop-shadow(1px 1px 2px #0006)
    drop-shadow(3px 3px 10px #000a);
  --font-family-noita-default: 'noita', sans-serif;
  --font-family-noita-glyphs: 'glyphs', sans-serif;

  --color-selection-bg: #0000dd44;

  --zindex-insert-after: 58;
  --zindex-insert-before: 60;
  --zindex-cursor-select-from: 65;
  --zindex-cursor-select-to: 68;
  --zindex-cursor-current: 70;

  --zindex-note-deckidx: 80;
  --zindex-note-charges: 81;
  --zindex-note-delete: 82;

  --zindex-tabs-hover: 90;
  --zindex-tabs-selected: 100;
  --zindex-copy-png: 140;

  --zindex-stickyheader-shotgrid: 200;

  --zindex-keyhint: 300;
  --zindex-keyhint-hover: 310;

  --zindex-stickyheader-behind: 800;
  --zindex-stickyheader-title: 810;
  --zindex-stickyheader-controls: 820;
  --zindex-stickyheader-overline: 840;

  --zindex-findspell: 850;
  --zindex-findspell-results: 860;

  --zindex-tooltips: 900;
  --zindex-devinfo: 999;

  --zindex-modal-window: 1000;
  --zindex-modal-subtitle: 1030;
  --zindex-modal-title: 1050;
  --zindex-modal-closebutton: 1100;

  --zindex-ceiling: 10000;

  --anim-basic-in: 20ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  --transition-hover-in: 80ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  --transition-hover-out: 120ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  --transition-activate: 30ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

html {
  background-color: var(--color-base-background);
  overscroll-behavior: none;
}

body {
  min-width: 300px;
  margin: 0;
  font-family: 'noita', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  background-color: var(--color-base-background);
  color: var(--color-base);

  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --sprite-missing: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOBAMAAADtZjDiAAAAD1BMVEUAAAAAAACFZgCofAIDAgAmXIGsAAAAAnRSTlMA+iv71joAAABGSURBVHheZcnRCcAgEAPQgF1A6ABFHUBOB7Dt7T9Tk8O/Jh8PEkzPyP5iQTloGj20UsPCSoQkXYiYWJr3vx30tze/cfrzAaPhBxxo96f6AAAAAElFTkSuQmCC);
}
