:root {
  --ou: 0.16rem;
  --top-banner-height: 36px;
}
@media screen and (max-width: 500px) {
  :not(#u#n#i) div[data-name='MainHeader'] > [data-name='Search'] {
    display: contents;
  }
  :not(#u#n#i) div[data-name='MainHeader'] > [data-name='Search'] > button {
    grid-column: search;
    grid-row: 1;
  }
  :not(#u#n#i)
    div[data-name='MainHeader']
    > [data-name='Search']
    > [data-name='FindSpell'] {
    grid-column: searchinput;
    grid-row: 1;
    visibility: hidden;
  }
}

:has(> [data-name='ConfigEditor']) {
  display: contents;
}
[data-name='ConfigEditor'] {
  display: grid;
  grid-template-rows: subgrid;
}
[data-name='ConfigEditor'] > div {
  display: contents;
}
[data-name='ConfigToggleGroup'] {
  display: grid;
  grid-template-columns: auto;
}
[data-name='ConfigToggleGroup'] > div:first-of-type {
  grid-column: 1 / span 2;
}
[data-name='ConfigToggleGroup'] [data-name='EditableWithLabel'] {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / span 2;
}

:not(#u#n#i) div[data-name='SpellSelector'] {
  --top-offset: -8px;
}
:not(#u#n#i) div[data-name='SpellSelector']::before {
  inset: 42px auto auto auto;
  margin: 0 calc(var(--ou) * 1);
  font-size: 14px;
  padding: calc(var(--ou) * 1);
  margin-top: var(--top-offset);
  border: var(--ou) solid var(--color-tab-border-active);
  border-radius: 0.26rem 0.46rem 0 0;
  border-bottom: 0 hidden transparent;
}
:not(#u#n#i) div[data-name='SpellCategorySpellsDiv'] {
  /* inset: var(--top-banner-height) auto auto auto; */
  position: sticky;
  scroll-snap-stop: normal;
  scroll-snap-align: start end;
}

:not(#u#n#i)
  div[data-name='SpellCategorySpellsDiv']
  [data-name='WandActionBorder'] {
  scroll-margin: 10px;
  scroll-snap-stop: normal;
  scroll-snap-align: center;
}
:not(#u#n#i) div[data-name='ActiveTabContent'] {
  scroll-snap-type: y mandatory;
  scroll-padding: 10px;
  overflow: scroll;
}

button[data-tooltip-content='undo'] {
  grid-column: undo;
}
button[data-tooltip-content='redo'] {
  grid-column: redo;
}
button[data-tooltip-content='clear'] {
  grid-column: clear;
}
button[data-tooltip-content='reset'] {
  grid-column: reset;
}
button[data-tooltip-content='redo'],
button[data-tooltip-content='reset'] {
  margin-left: 0;
  border-radius: var(--bdr-br);
  border-width: var(--ou) calc(var(--ou) * 0.5) var(--ou) calc(var(--ou) * 0.5);
  border-color: var(--color-button-border) var(--color-button-border)
    var(--color-button-border) var(--color-button-border);
  border-style: solid solid solid solid;
}
button[data-tooltip-content='undo'],
button[data-tooltip-content='clear'] {
  margin-left: 0;
  border-radius: var(--bdr-bl);
  border-width: var(--ou) calc(var(--ou) * 0.5) var(--ou) var(--ou);
  border-color: var(--color-button-border) var(--color-button-border)
    var(--color-button-border) var(--color-button-border);
  border-style: solid solid solid solid;
}

:is([data-name='Tab'], [data-name='Tab:Selected']) > [data-name='WandAction'] {
  background-size: 67%, 100%;
  background-clip: padding-box, border-box, border-box;
  background-repeat: no-repeat, space, space;
  background-origin: content-box, border-box, border-box;
  --v: 0.3em;
  border: var(--v) solid #0000;
  border-width: var(--v) 0 0 var(--v);
  padding: 0 var(--v) var(--v) 0;
  margin: 0;
  min-width: calc(var(--v) * 0.25);
  min-height: calc(var(--v) * 0.25);
  background-position:
    center,
    bottom -11% right -11%;
}

.debug
  :is(
    [data-name='NumberInput']:valid,
    [data-name='NumberInput']:hover,
    [data-name='NumberInput']
  ) {
  outline: 0.5px solid #b0b;
}

.debug [data-name='NumericInput'] {
  outline: 0.5px solid #0ff8;
}

.debug [data-name='EditableWithLabel'] > * {
  outline: 0.5px dashed #0f0;
}

.debug [data-name='EditableWithLabel'] {
  border-bottom: 3px dotted #f0f;
  --bgt: radial-gradient(
    var(--w) circle at 20% 50%,
    #f00 calc(100% - min(20%, 0.2px)),
    #0000 calc(100% + max(20%, 0.2px))
  );
  background-image:
    radial-gradient(
      1px circle at 20% 50%,
      #f00 calc(100% - min(20%, 0.2px)),
      #0000 calc(100% + max(20%, 0.2px))
    ),
    radial-gradient(
      2px circle at 30% 50%,
      #f00 calc(100% - min(20%, 0.2px)),
      #0000 calc(100% + max(20%, 0.2px))
    ),
    radial-gradient(
      3px circle at 40% 50%,
      #f00 calc(100% - min(20%, 0.2px)),
      #0000 calc(100% + max(20%, 0.2px))
    ),
    radial-gradient(
      1px circle at 20% 80%,
      #ff0 calc(100% - 0.2px),
      #0000 calc(100% + 0.2px)
    ),
    radial-gradient(
      2px circle at 30% 80%,
      #ff0 calc(100% - 0.2px),
      #0000 calc(100% + 0.2px)
    ),
    radial-gradient(
      3px circle at 40% 80%,
      #ff0 calc(100% - 0.2px),
      #0000 calc(100% + 0.2px)
    );
}

[data-name='WandBuilderTopButtons'] {
  grid-column: -2;
  grid-row-end: span 2;
  justify-self: end;
  margin: 0 0 0.4em 0;
}
[data-name='WandBorder'] > .saveImageRoot {
  padding: 0;
}

[data-name='WandBorder'] > .saveImageRoot > div:first-child {
  padding: 0 clamp(0.1ch, 1vw, 2ch);
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(min(22ch, 100%), 1fr));
  row-gap: 0.2em;
  font-size: clamp(1em, calc(1.6em - 2vw), 1.2em);
}
@media screen and (max-width: 500px) {
  [data-name='WandBorder'] > .saveImageRoot > div:first-child > * {
    font-size: 1em;
  }
}
[data-name='WandBorder']
  > .saveImageRoot
  > div:first-child
  > [data-name='EditableWithLabel']
  > :first-child {
  flex: 10 1 auto;
  width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
@media screen and (max-width: 800px) {
  [data-name='WandActionEditor'] {
    margin: 0;
  }
}
@media screen and (max-width: 500px) {
  [data-name='WandActionEditor'] {
    padding: 0;
  }
}

:root {
  --zindex-mainheader: 800;
}
[data-name='MainHeader'] {
  z-index: var(--zindex-mainheader);
}
[data-name='MainHeader']::after {
  content: '';
  z-index: var(--zindex-mainheader);
  box-shadow: inset 0 -5px 10px -4px #000;
  position: absolute;
  inset: 0 0 0 0;
  pointer-events: none;
}

:not(#u#n#i) [data-name='SearchInput'] {
  padding: 0.1em 0.5em 0.1em 0.5em;
  --bwt: 1px;
  --bwr: 0px;
  --bwb: 1px;
  --bwl: 2px;
  border: 0 solid var(--color-button-border);
  border-radius: max(0px, var(--brtr) - var(--bwt)) 0 0 calc(16em - var(--bw)) /
    calc(12em - var(--bw)) 0 0 calc(54.4em - var(--bw));
  border-width: var(--bwt) var(--bwr) var(--bwb) var(--bwl);
  box-shadow: inset -0.5px 0 2px -0.5px #000;
  border-radius: max(0px, var(--brtl) + var(--bwl))
    max(0px, var(--brtr) + var(--bwt)) max(0px, var(--brbr) + var(--bwr))
    max(0px, var(--brbl) + var(--bwb)) / max(0px, var(--brt) - var(--bwl))
    max(0px, var(--brr) - var(--bwt)) max(0px, var(--brb) - var(--bwr))
    max(0px, var(--brl) - var(--bwb));
  /*   border-radius:var(--brtl) var(--brtr) var(--brbr) var(--brbl) / var(--brt) var(--brr) var(--brb) var(--brl); */
}

:not(#u#n#i) [data-name='Search'] {
  --brtl: 0px;
  --brt: 10em;
  --brtr: 0px;
  --brr: 0px;
  --brbr: 0px;
  --brb: 0px;
  --brbl: 16em;
  --brl: 60em;
  border: 0 none #0000;
  border-radius: var(--brtl) var(--brtr) var(--brbr) var(--brbl) / var(--brt)
    var(--brr) var(--brb) var(--brl);

  --bwt: 0px;
  --bwr: 0px;
  --bwb: 0px;
  --bwl: 0px;
  border-radius: max(0px, var(--brtl) + var(--bwl))
    max(0px, var(--brtr) + var(--bwt)) max(0px, var(--brbr) + var(--bwr))
    max(0px, var(--brbl) + var(--bwb)) / max(0px, var(--brt) - var(--bwl))
    max(0px, var(--brr) - var(--bwt)) max(0px, var(--brb) - var(--bwr))
    max(0px, var(--brl) - var(--bwb));
}

:not(#u#n#i) [data-name='Search'] > button {
  border-left: var(--border-thickness) solid var(--color-button-border);
}

:not(#u#n#i) [data-name='Search']:hover {
  box-shadow: -0.5px 0 0 0.5px #fff8;
}
:not(#u#n#i) [data-name='MainHeader'] {
  padding: clamp(2px, 0.4vmin, 14px) clamp(2px, 0.5vmin, 14px)
    clamp(3px, 0.5vmin, 14px) clamp(2px, 0.5vmin, 14px);
}

:not(#u#n#i) div[data-name='SpellSelector']::before {
  border-width: calc(var(--ou) * 1) calc(var(--ou) * 0.7) 0;
}
:not(#u#n#i) [data-name='ActiveTabContent'] {
  border: calc(var(--ou) * 0.7) solid var(--color-tab-border-active);
}
