li:not(:has([data-tooltip-content^='DIVIDE_']))
  + li:has([data-tooltip-content^='DIVIDE_']):hover,
li:first-of-type:has([data-tooltip-content^='DIVIDE_']):hover,
li:has([data-tooltip-content^='DIVIDE_']):has(+ li:hover) {
  box-shadow:
    inset 1px 0 0 1px #fff9,
    inset 0 -3px 0 0 #fff9,
    inset 0 3px 0 0 #fff9,
    -1px 0 0 0 #fff9,
    0 -1px 0 0 #fff9,
    0 1px 0 0 #fff9;
  border-radius: var(--bdr) 0 0 var(--bdr);
  --bdr: 8px;
}

:has(> [data-name='ConfigEditor']) {
  display: contents;
}

[data-name='WandBorder'] > .saveImageRoot {
  padding: 0;
}
[data-name='WandBorder'] > .saveImageRoot > div:first-child {
  padding: 0 clamp(0.1ch, 1vw, 2ch);
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(min(22ch, 100%), 1fr));
  row-gap: 0.2em;
  font-size: clamp(1em, calc(1.6em - 2vw), 1.2em);
}
@media screen and (max-width: 500px) {
  [data-name='WandBorder'] > .saveImageRoot > div:first-child > * {
    font-size: 1em;
  }
}
[data-name='WandBorder']
  > .saveImageRoot
  > div:first-child
  > [data-name='EditableWithLabel']
  > :first-child {
  flex: 10 1 auto;
  width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

:not(#u#n#i) [data-name='Tabs'] {
  font-size: 14px;
  padding: 0 var(--ou);
  margin-top: calc(var(--border-radius) * -1);
}

@media screen and (max-width: 600px) {
  :not(#u#n#i) [data-name='TabTitles'] {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    min-width: unset;
    width: auto;
  }
}
:not(#u#n#i) [data-name='TabTitles'] {
  column-gap: 0;
  --bdw-inline: max(1px, round(down, calc(var(--ou) * 1), 1px));
  --bdw-above: max(1px, round(down, calc(var(--ou) * 0.7), 1px));
}

:not(#u#n#i) [data-name='Tab'] {
  border-top: calc(var(--ou) * 0.7) solid var(--color-tab-border-active);
  padding: 0;
  margin: 0;
  border-inline: 0;
  border-inline-style: solid;
  /*   border-top-color: red; */
}
:not(#u#n#i) [data-name='Tab']:has(+ [data-name='Tab:Selected']) {
  border-top-right-radius: calc(var(--border-radius) * 0.5);
}
:not(#u#n#i) [data-name='Tab:Selected'] + [data-name='Tab'] {
  border-top-left-radius: calc(var(--border-radius) * 0.5);
}

:not(#u#n#i) [data-name='Tab'],
:not(#u#n#i) [data-name='Tab:Selected'] {
  display: grid;
  grid-template-columns:
    [before-start] var(--border-radius)
    [before-end a-start] 1fr [a-end b-start] 1fr [b-end c-start] 1fr [c-end after-start] var(
      --border-radius
    )
    [after-end];
  column-gap: 0;
  position: relative;
  overflow: visible;
  --padding-inline: calc(var(--border-radius) - var(--bdw-inline));
  padding: 0 var(--padding-inline);
  width: fit-content;
  max-width: unset;
  min-width: unset;
  flex: 0 0 4em;
}
:not(#u#n#i) [data-name='Tab:Selected'] {
  --bdw-inline: calc(var(--ou) * 1);
  --bdw-above: calc(var(--ou) * 0.7);
  --w: calc(var(--border-radius) * 0.1);
  --x: calc(var(--border-radius) * 0.3);
  border-inline: var(--bdw-inline) solid var(--color-tab-border-active);
  margin: calc(var(--border-radius)) calc(var(--border-radius) * -1) 0
    calc(var(--border-radius) * -1);
  border-top: 0;
}

:not(#u#n#i) [data-name='Tab:Selected']::after {
  position: relative;
  place-self: start end;
  grid-column: after;
  content: '';
  width: var(--w);
  height: var(--h);
  --w: calc(var(--border-radius));
  --h: calc(var(--border-radius));
  border: var(--ou) solid var(--color-tab-border-active);
  border-radius: var(--border-radius) 0 0 0;
  border-width: var(--bdw-above) 0 0 var(--bdw-inline);
  box-sizing: border-box;
  inset: calc(var(--border-radius) * -1) calc(var(--border-radius) * -1) auto
    auto;
  background-color: #0000;
  overflow: hidden;
  padding: 0 0 0 var(--padding-inline);
  margin: 0 calc(var(--padding-inline) * -1) 0 0;
}
:not(#u#n#i) [data-name='TabTitles'],
:not(#u#n#i) [data-name='Tab:Selected'],
:not(#u#n#i) [data-name='Tab'] {
  margin: unset;
  border: unset;
  padding: unset;
  box-shadow: unset;
  position: unset;
  inset: unset;
}

:not(#u#n#i) [data-name='Tab:Selected'] {
  box-shadow: unset;
}

:not(#u#n#i) [data-name='TabTitles'],
:not(#u#n#i) [data-name='Tab:Selected'],
:not(#u#n#i) [data-name='Tab'] {
  margin: unset;
  border: unset;
  padding: unset;
  box-shadow: unset;
  position: unset;
  inset: unset;
  width: auto;
  border-inline: unset;
}
:not(#u#n#i) [data-name='Tab:Selected'],
:not(#u#n#i) [data-name='Tab'] {
  grid-template-columns: 1fr;
  display: grid;
  grid-template: 1fr / auto auto auto;
  place-content: center;
  place-items: center;
  overflow: unset;
  font-size: initial;
  box-sizing: unset;
  max-width: unset;
  min-width: unset;
  min-height: unset;
  max-height: unset;
}

:not(#u#n#i) [data-name='TabTitles'] {
  display: grid;
  grid-template-columns: repeat(8, 1fr) auto;
  grid-template-rows: 1fr;
  grid-auto-rows: 0;
}
